<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Restaurant Apps Starter Project</title>
		<link rel="stylesheet" href="../styles/main.css" />
	</head>
	<body>
		<header>
            <div class="hero">

            </div>
            <nav>
                <ul>
                    <li><a href=""></a></li>
                    <li><a></a></li>
                    <li><a></a></li>
                </ul>
            </nav>
        </header>
		<img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
	</body>
</html>
